<div>
    <div class="hit-the-floor">Primer Bimestre</div>
    <div class="row ">
  
      <div class="rowItems col-sm ">
        <!-- Mapa conceptual #1-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/desarrollo-web.png" height="250" class="card-img-top" alt="desarrollo-web">
          <div class="card-body">
            <h5 class="card-title">Mapa conceptual #1</h5>
            <p class="card-text">
              La Historia del desarrollo web empieza desde sus tecnologías en el desarrollo y su arquitectura web
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bimTem1">
                Ver Más
            </button>
          </div>   
          <div class="modal fade bd-example-modal-xl" tabindex="-1" id="bimTem1">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="bg-1">
                      <h1 class="t-stroke t-shadow">Mapa conceptual #1</h1>            
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    <embed src="../../../assets/documents/Mapa conceptual.pdf" 
                    style="width: 100%;height: 40rem" 
                    type="application/pdf">
                   
  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>     
        </div>  

        <!-- Mapa conceptual #2-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/Web Services.jpg" height="180" class="card-img-top" alt="Web Services">
          <div class="card-body">
            <h5 class="card-title">Mapa conceptual #2</h5>
            <p class="card-text">
              Un servicio web es una tecnología que utiliza un conjunto de protocolos y estándares que sirven para intercambiar datos entre aplicaciones.
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bimTem4">
                Ver Más
            </button>
          </div>   
          <div class="modal fade bd-example-modal-xl" tabindex="-1" id="bimTem4">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="bg-1">
                      <h1 class="t-stroke t-shadow">Mapa conceptual #2</h1>            
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    <embed src="../../../assets/documents/Mapa 2.pdf" 
                    style="width: 100%;height: 40rem" 
                    type="application/pdf">
                   
  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>     
        </div>  
        <!-- Laboratorio # 3-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/Agenda Web.png" height="200" class="card-img-top" alt="FondoInicio">
          <div class="card-body">
            <h5 class="card-title">Laboratorio # 3 Agenda Web</h5>
            <p class="card-text">
              Página web realizada con el propósito de una agenda web para un mejor control de contactos.
            </p>
            <a href="../../../assets/ArchivosZip/Agenda Web.zip" download="Agenda Web" target="_blank"><button type="button" class="btn btn-info "  > Descargar Proyecto</button></a>
          </div>   
 
        </div>  
        
  
      </div>
  
      <div class="rowItems col-sm">
        <!-- Infografía #1-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/infografia 1.jpg" height="200" class="card-img-top" alt="infografia 1">
          <div class="card-body">
            <h5 class="card-title">Infografía #1</h5>
            <p class="card-text">
              Para poder realizar una página web debe de conocer que existen muchos lenguajes de programación y procesadores para realizar una página web.
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bimTem2">
                Ver Más
            </button>
          </div>   
          <div class="modal fade bd-example-modal-xl" tabindex="-1" id="bimTem2">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="bg-1">
                      <h1 class="t-stroke t-shadow">Infografía #1</h1>            
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    <embed src="../../../assets/documents/infografia.pdf" 
                    style="width: 100%;height: 40rem" 
                    type="application/pdf">
                    
  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>     
        </div>  

        <!-- Laboratorio # 1 VideoJuegos-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/FondoInicio.jpg" height="200" class="card-img-top" alt="FondoInicio">
          <div class="card-body">
            <h5 class="card-title">Laboratorio # 1 VideoJuegos</h5>
            <p class="card-text">
              Página Web realizada con solo lenguaje de CSS Y html tratando de lo que más me gusta.
            </p>
            <a href="../../../assets/ArchivosZip/VideoJuegos.zip" download="Video Juegos" target="_blank"><button type="button" class="btn btn-info "  > Descargar Proyecto</button></a>
          </div>   
 
        </div>          
        
  
      </div>
      
      <div class="rowItems col-sm">
        <!-- Infografía #2-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/Infografia 2.png" height="200" class="card-img-top" alt="infografia 2">
          <div class="card-body">
            <h5 class="card-title">Infografía #2</h5>
            <p class="card-text">
              Desarrollo de Aplicaciones con JavaScript podemos saber que existen muchas implementaciones que ayudan al desarrollo de JavaScript.
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bimTem3">
                Ver Más
            </button>
          </div>   
          <div class="modal fade bd-example-modal-xl" tabindex="-1" id="bimTem3">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="bg-1">
                      <h1 class="t-stroke t-shadow">Infografía #2</h1>            
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    <embed src="../../../assets/documents/infografia 2.pdf" 
                    style="width: 100%;height: 40rem" 
                    type="application/pdf">
                    
  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>     
        </div>  

        <!-- Laboratorio # 2-->
        <div class="card rowItems" style="width: 18rem;">
          <img src="../../../assets/img/Control de Empresas.jpg" height="200" class="card-img-top" alt="Control de Empresas">
          <div class="card-body">
            <h5 class="card-title">Laboratorio # 2 Control de Empresas</h5>
            <p class="card-text">
              Trabajo realizado para Control de Empresas con NodeJS, Express y MongDB.
            </p>
            <a href="../../../assets/ArchivosZip/ControlEmpresas.zip" download="Control de Empresas" target="_blank"><button type="button" class="btn btn-info "  > Descargar Proyecto</button></a>
          </div>   
 
        </div>           
        
      </div>
  
    </div>
</div>
