
footer {
    width: 100%;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
    top:93%;
    background-color: #2e3138;
    position: fixed;
    height: 5rem;

}
.footer {
    border-top: 1px solid #222;  

}
  
.post-footer {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #fff;
}