img{
    max-width: 100%;
}

.container{
    margin-bottom: 6rem;
    max-width: 95%;
}

.text-center{
    align-items: center;
    text-align: center;
}

.align-left {
    margin-left: 1rem;
    float: left;
    text-align: left;
}

.align-right {
    margin-right: 1rem;
    float: right;
    text-align: right;
}


@media (max-width: 600px) {
    .align-right {
        float: none;
    }
}
.team-content{
    margin-bottom: 1rem;
}
pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
}
  
textarea {
    margin-top: 15px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}