
.bg-dark {
    background-color: #2e3138 !important;
}

.navbar-collapse {
    flex-grow: inherit;
    align-items: center;
}
.text-icon{
    display: flex;
    align-items: center;
    margin: 0;
}
h1{
    margin: 0;
}
a{
    font-size: 1.5rem;
}