<div class="container">
    <div class="hit-the-floor">Usuario</div>
    
    <div class="card ">
        
        <div class="upper-container">
            
            <div class="image-container">
               <img src="../../../assets/img/perfil.png" class="rounded-circle" alt="perfil"/>
            </div>
           
         </div>
        
         <h1 class="text-center">Soni Vega</h1>
        
         <div class="text-content">  
             <p class="align-left">Nombres:</p>
             <p class="align-right">Soni Javier</p>
         </div>
 
         <div class="text-content">  
             <p class="align-left">Apellidos:</p>
             <p class="align-right">Vega Muñoz</p>
         </div>
 
         <div class="text-content">  
             <p class="align-left">Carnet:</p>
             <p class="align-right">2019050</p>
         </div>
         <div class="text-content">  
             <p class="text-center">IN6AM</p>
         </div>




        <!--Footer-->
        <footer class="footer">
            <div class="post-footer">
               <p> Svega-2019050@kinal.edu.gt</p>      
            </div>
        </footer>
    </div>
</div>